<% provide(:title, 'About') %>

<h1>
	<center>
		About
	</center>
</h1>

<p>
	<center>
		If you know what's the meaning of 
		<%= link_to"KW-5", 'https://www.kompas.tv/article/220004/apa-itu-barang-kw-dan-ternyata-ada-tingkatannya', class: "link-success", target: "_blank" %> and you notice the difference of the logo's color, then you must be understand what is this about. If you don't believe me, just ask 
		<%= link_to "Jack Dorsey", 'https://twitter.com/jack', class: "link-success", target: "_blank" %>.
	</center>
</p>
