<% provide(:title, 'Contact') %>

<h1>
	<center>
		Contact
	</center>
</h1>

<p>
	<center>
		"Don't share your contact to some random people. They'll use that information for their own sake including NSA." ~ <%= link_to "Edward Snowden", 'https://en.wikipedia.org/wiki/Edward_Snowden', class: "link-success" %> maybe.
	</center>
</p>
